.section.login
  .container
    h1.login__title Регистрация специалиста

    .info-box
      h5.info-box__title
        +icon('info-rounded-o')
        | Прочтите это перед регистрацией!
      .info-box__text
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .settings-form.settings-form--login
      .settings-box.settings-box--full-width
        h3.settings-title
          span.settings-title__step Шаг 1/7
          | Общая информация

        .settings-box__body
          .settings-form__grid
            .settings-form__main-col
              .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between
                +inputbox
                  +label.inputbox__label--required(for="login-name") Ваше имя
                  +input-wrapper
                    +input(
                      type="text"
                      id="login-name"
                      name="login-name"
                      placeholder="Ваше имя"
                    )

                +inputbox
                  +label.inputbox__label--required(for="login-surname") Фамилия
                  +input-wrapper
                    +input(
                      type="text"
                      id="login-surname"
                      name="login-surname"
                      placeholder="Фамилия"
                    )
                +inputbox
                  +label.inputbox__label--required(for="login-city") Ваш город
                    span.tooltipped.js-tippy(
                      tabindex="0"
                      data-tippy-content="На данный момент наш сервис предусматривает работу только с <b>гражданами Российской Федерации</b>!"
                    )
                      +icon('question-circle-o')
                  +input-wrapper
                    +input(
                      type="text"
                      id="login-city"
                      name="login-city"
                      placeholder="Ваш город"
                    )

                +inputbox
                  +label.inputbox__label--required(for="login-phone") Телефон
                  +input-wrapper
                    +input.js-phone-mask(
                      type="tel"
                      id="login-phone"
                      name="login-phone"
                      placeholder="+7 (999) 999-99-99"
                    )
                +inputbox
                  +label.inputbox__label--required(for="login-birthday") Дата рождения
                  +input-wrapper
                    +input.input--date.js-date-mask(
                      type="text"
                      id="login-birthday"
                      name="login-birthday"
                      placeholder="дд.мм.гггг"
                    )

                +inputbox
                  +label.inputbox__label--required(for="login-email") Ваш e-mail
                  +input-wrapper
                    +input(
                      type="email"
                      id="login-email"
                      name="login-email"
                      placeholder="E-mail"
                    )

            .settings-form__aside-col
              .settings-avatar
                label.settings-avatar__photo.user-photo.user-photo--no-photo
                  input.hidden-visually(type="file", name="login-avatar", id="login-avatar")
                  .user-photo__inner
                    .user-photo__img
                label.settings-avatar__label(for="login-avatar") Загрузить аватар


      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 2/7
          | Сфера деятельности

        .settings-box__body
          .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between.mb-6
            +inputbox
              +label.inputbox__label--required(for="settings-name") Выберите сферу деятельности
              +input-wrapper
                .custom-select
                  select.js-filters-select(data-placeholder="Сфера деятельности")
                    option
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик

            +inputbox
              +label.inputbox__label--required(for="settings-name") Выберите ваше направление
              +input-wrapper
                .custom-select
                  select.js-filters-select(data-placeholder="Ваше направление")
                    option
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик
                    option(value="Автомеханик") Автомеханик

          p.text-light
            | Для выбора нескольких направлений требуется выполнить более 3 заданий в данной сфере деятельности. После выполнения, вам откроется вкладка в разделе “Настройка профиля”.


      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 3/7
          | Опыт работы

        .settings-box__body
          .checkradio-row.mb-6
            +checkradio(true, 'login-experience', 0, false)
              | Без опыта
            +checkradio(true, 'login-experience', 1, true)
              | Опыт есть

          .experience-box.is-active
            .experience-list
              .experience-card.js-draggable(draggable="true")
                .experience-card__hand(tabindex="0")
                  +icon('bars')
                .experience-card__body
                  .experience-card__content
                    h5.experience-card__title Университет «Синергия»
                    span.experience-card__subtitle Март 2016 - Июнь 2020
                    .experience-card__text
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                  .experience-card__actions
                    button.button-icon.button-edit(type="button" aria-label="Редактировать")
                      +icon('pen')
                    button.button-icon.button-delete(type="button" aria-label="Удалить")
                      +icon('trash-o')

            .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between
              +inputbox
                +label.inputbox__label--required(for="login-company") Наименование компании
                +input-wrapper
                  +input(
                    type="text"
                    id="login-company"
                    name="login-company"
                    placeholder="Укажите название компании"
                  )

              .inputbox-group
                label.inputbox__label.inputbox__label--required(for="login-experience-from") Стаж на месте
                .inputbox-group__row
                  .inputbox__wrapper
                    +input.input--date.js-date-mask(
                      type="text"
                      id="login-experience-from"
                      name="login-experience-from"
                      placeholder="дд.мм.гггг"
                    )

                  span по

                  .inputbox__wrapper
                    +input.input--date.js-date-mask(
                      type="text"
                      id="login-experience-until"
                      name="login-experience-until"
                      placeholder="дд.мм.гггг"
                    )

            +inputbox
              +label.inputbox__label--required(for="login-experience") Стаж работы
              +input-wrapper
                +textarea(
                  type="text"
                  id="login-experience"
                  name="login-experience"
                  placeholder="Опишите более подробно, на какой позиции вы работали, какой промежуток времени и другая информация о себе и месте работы"
                )

            button.text-button.text-button--primary(type="button") + Добавить опыт работы


      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 4/7
          | Паспортные данные

        .settings-box__body
          .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between
            +inputbox
              +label.inputbox__label--required(for="login-passport-number") Серия, номер
              +input-wrapper
                +input.js-passport-number-mask(
                  type="text"
                  id="login-passport-number"
                  name="login-passport-number"
                  placeholder="XX XX XXXXXX"
                )

            +inputbox
              +label.inputbox__label--required(for="login-passport-code") Код подразделения
              +input-wrapper
                +input.js-passport-code-mask(
                  type="text"
                  id="login-passport-code"
                  name="login-passport-code"
                  placeholder="XXX-XXX"
                )

            +inputbox
              +label.inputbox__label--required(for="login-passport-org") Паспорт выдан
              +input-wrapper
                +input(
                  type="text"
                  id="login-passport-org"
                  name="login-passport-org"
                  placeholder="Кем выдан"
                )

            +inputbox
              +label.inputbox__label--required(for="login-passport-date") Дата выдачи
              +input-wrapper
                +input.input--date.js-date-mask(
                  type="text"
                  id="login-passport-date"
                  name="login-passport-date"
                  placeholder="дд.мм.гггг"
                )


      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 5/7
          | График работы

        .settings-box__body
          .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between
            +inputbox
              .inputbox__label.inputbox__label--required Выберите дни
              .days-list
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-1", id="day-1")
                  span.days-list__item-text Пн
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-2", id="day-2")
                  span.days-list__item-text Вт
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-3", id="day-3")
                  span.days-list__item-text Ср
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-4", id="day-4")
                  span.days-list__item-text Чт
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-5", id="day-5")
                  span.days-list__item-text Пт
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-6", id="day-6")
                  span.days-list__item-text Сб
                label.days-list__item
                  input.hidden-visually(type="checkbox", name="day-7", id="day-7")
                  span.days-list__item-text Вс


            .inputbox-group
              label.inputbox__label.inputbox__label--required(for="settings-time-from") Удобное время
              .inputbox-group__row.mb-3
                .inputbox__wrapper
                  +input.input--time.js-time-mask(
                    type="text"
                    id="settings-time-from"
                    name="settings-time-from"
                    placeholder="чч:мм"
                  )

                span по

                .inputbox__wrapper
                  +input.input--time.js-time-mask(
                    type="text"
                    id="settings-time-until"
                    name="settings-time-until"
                    placeholder="чч:мм"
                  )

              p.text-light
                | В данный промежуток времени, вам будут приходить уведомления

      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 6/7
          | Как вам удобнее получать уведомления?

        .settings-box__body
          .checkradio-row
            +checkradio(true, 'login-notification', 'sms', true)
              | SMS-уведомления
            +checkradio(true, 'login-notification', 'email', false)
              | E-mail рассылка
            +checkradio(true, 'login-notification', 'site', false)
              | На сайте

      .settings-box
        h3.settings-title
          span.settings-title__step Шаг 7/7
          | Привязка платёжной системы

        .settings-box__body
          .payment-methods.payment-methods--full.mb-3
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="credit-card" value="credit-card" checked)
              label.payment-method__label.js-tippy(for="credit-card" data-tippy-content="Оплата Банковской картой")
                +icon('credit-card')
                span.payment-method__label-text Банковская карта
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="apple-pay" value="apple-pay")
              label.payment-method__label.js-tippy(for="apple-pay" data-tippy-content="Оплата Apple Pay")
                +icon('apple-pay')
                span.payment-method__label-text Apple pay
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="google-pay" value="google-pay")
              label.payment-method__label.js-tippy(for="google-pay" data-tippy-content="Оплата Google Pay")
                +icon('google-pay')
                span.payment-method__label-text Google pay

          P.text-light
            | *Депозит-минимальная сумма, которая необходима вам для обработки входящей заявки. Сумма меняется в зависимости от частоты заказов в данной категории, сложности исполнения, уровня спроса на данную нишу и др. При желании можно сделать автоматическое пополнение баланса. Каждая транзакция будет проходить только после вашего согласия.

      p
        +checkradio(false, 'login-acceptance', 'null', false)
          | Принимаю <a class="text-primary" href="">публичную оферту</a>, <a class="text-primary" href="">условия пользования</a>

      button.button.button--primary(type="submit") Зарегистрироваться
