include faq.data.pug

section.section.section--bottom.faq
  .container
    h2.section__title Частые вопросы

    ul.accordion.accordion--with-icons.faq-accordion.js-accordion
      each item, index in faq
        li.accordion__item
          h5.accordion__item-title
            button.accordion__button.js-accordion-button(
              class=(index === 0) ? "is-active" : ""
              data-target="#faq-" + (index + 1)
              aria-expanded=(index === 0) ? "true" : "false"
              aria-controls="faq-" + (index + 1)
            )
              span.accordion__button-count= '0' + (index + 1)
              +icon( item.icon ).accordion__item-icon
              span.accordion__button-text=item.title
              +icon('close-o').accordion__button-icon

          .accordion__content.js-accordion-content(
            class=(index === 0) ? "is-active" : ""
            id="faq-" + (index + 1)
          )
            .accordion__content-inner
              .accordion__content-left
                +icon( item.icon )

              .accordion__content-right
                .accordion__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
