.dashboard
  .container
    include dashboard-top

    +tabs-content().dashboard-main
      +tab-wrapper().dashboard-main__item.is-active(
        id="profile"
        data-tab="dashboard-tab-1"
        data-tab-group="dashboard"
      )
        include client-profile

      +tab-wrapper().dashboard-main__item(
        id="info"
        data-tab="dashboard-tab-2"
        data-tab-group="dashboard"
      )
        include client-info

      +tab-wrapper().dashboard-main__item(
        id="orders"
        data-tab="dashboard-tab-3"
        data-tab-group="dashboard"
      )
        include client-orders-payment

      +tab-wrapper().dashboard-main__item(
        id="messages"
        data-tab="dashboard-tab-4"
        data-tab-group="dashboard"
      )
        include client-messages

      +tab-wrapper().dashboard-main__item(
        id="notifs"
        data-tab="dashboard-tab-5"
        data-tab-group="dashboard"
      )
        include client-notifs

      +tab-wrapper().dashboard-main__item(
        id="achievements"
        data-tab="dashboard-tab-6"
        data-tab-group="dashboard"
      )
        include client-achievements

      +tab-wrapper().dashboard-main__item(
        id="settings"
        data-tab="dashboard-tab-7"
        data-tab-group="dashboard"
      )
        include client-settings
