.dashboard
  include dashboard-top

  +tabs-content().dashboard-main
    +tab-wrapper().dashboard-main__item.is-active(
      id="profile"
      data-tab="tab-1"
      data-tab-group="dashboard"
    )
      include spec-profile

    +tab-wrapper().dashboard-main__item(
      id="info"
      data-tab="tab-2"
      data-tab-group="dashboard"
    )
      include spec-info

    +tab-wrapper().dashboard-main__item(
      id="tasks"
      data-tab="tab-3"
      data-tab-group="dashboard"
    )
      include spec-tasks

    +tab-wrapper().dashboard-main__item(
      id="messages"
      data-tab="tab-4"
      data-tab-group="dashboard"
    )
      include spec-messages

    +tab-wrapper().dashboard-main__item(
      id="notifs"
      data-tab="tab-5"
      data-tab-group="dashboard"
    )
      include spec-notifs

    +tab-wrapper().dashboard-main__item(
      id="achievements"
      data-tab="tab-6"
      data-tab-group="dashboard"
    )
      include spec-achievements
