.payment-wrapper
  .order-module
    h3.order-module__title Ожидание

    .order-card.box-shadow-medium
      .order-card__header
        .order-card__user
          .order-card__user-img
            .user-photo.online
              .user-photo__inner
                img.user-photo__img(src="assets/img/content/avatars/ava-1-lg.jpg", alt="")
          .order-card__user-text
            span.order-card__user-name Аня Фролова
            span.order-card__user-role Исполнитель

        .order-card__timing
          span.order-card__timing-label До конца:
          span.order-card__timing-amount.underline.underline--dashed.js-tippy-with-tpl(data-template="tippy-tpl-1") осталось 2 дня
        template#tippy-tpl-1
          .tooltips-template.tooltips-template--dates
            ul.timing-list
              li.timing-item
                span.timing-item__date 18 Октября, 2020
                span.timing-item__text Публикация задания
              li.timing-item
                span.timing-item__date 20 Октября, 2020
                span.timing-item__text Срок исполнения

        .order-card__status.expected.js-tippy(data-tippy-content="Ожидается оплата") Ожидается оплата

      .order-card__body
        h5.order-card__title <span class="text-light">#1412</span> Подбор iPhone XS Max Space gray 512 GB
        ul.order-card__details
          li.order-card__details-item
            span.order-card__details-label Модель
            span.order-card__details-text Iphone XS max Space gray 512 GB
          li.order-card__details-item
            span.order-card__details-label Услуга
            span.order-card__details-text Подбор под ключ
          li.order-card__details-item
            span.order-card__details-label Место
            span.order-card__details-text 10 Авеню, дом 7

        .order-card__actions
          button.button.button--light(type="button") Написать сообщение
          button.button.button--light(data-fancybox-notouch data-src="#modal-complaint" type="button") Пожаловаться

  .payment-box
    .payment-box__row
      .payment-box__col
        +inputbox
          +label.inputbox__label(for="payment-email") Укажите ваш e-mail:
            span.tooltipped.text-light.ml-1.js-tippy(
              tabindex="0"
              data-tippy-content="Какая-то информация"
            )
              +icon('question-circle-o')
          +input-wrapper
            +input(
              type="text"
              id="payment-email"
              name="payment-email"
              placeholder="Email"
            )

      .payment-box__col
        +inputbox
          .inputbox__label Выберите способ оплаты:
          .payment-methods.payment-methods--simple
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="credit-card" value="credit-card" checked)
              label.payment-method__label.js-tippy(for="credit-card" data-tippy-content="Оплата Банковской картой")
                +icon('credit-card')
                span.payment-method__label-text Банковская карта
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="apple-pay" value="apple-pay")
              label.payment-method__label.js-tippy(for="apple-pay" data-tippy-content="Оплата Apple Pay")
                +icon('apple-pay')
                span.payment-method__label-text Apple pay
            .payment-method
              input.payment-method__input.hidden-visually(type="radio" name="payment-method" id="google-pay" value="google-pay")
              label.payment-method__label.js-tippy(for="google-pay" data-tippy-content="Оплата Google Pay")
                +icon('google-pay')
                span.payment-method__label-text Google pay

    .payment-box__info
      h3.payment-box__info-title Условия офёрты
      .content-zone
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Sed faucibus turpis in eu mi bibendum neque. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Id consectetur purus ut faucibus pulvinar elementum integer enim neque.

        p
          | Dolor sed viverra ipsum nunc aliquet. Aenean et tortor at risus. Vel fringilla est ullamcorper eget. Tortor vitae purus faucibus ornare suspendisse sed. Nunc sed blandit libero volutpat sed cras ornare.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Sed faucibus turpis in eu mi bibendum neque. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Id consectetur purus ut faucibus pulvinar elementum integer enim neque.

        p
          | Dolor sed viverra ipsum nunc aliquet. Aenean et tortor at risus. Vel fringilla est ullamcorper eget. Tortor vitae purus faucibus ornare suspendisse sed. Nunc sed blandit libero volutpat sed cras ornare.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Sed faucibus turpis in eu mi bibendum neque. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Id consectetur purus ut faucibus pulvinar elementum integer enim neque.

        p
          | Dolor sed viverra ipsum nunc aliquet. Aenean et tortor at risus. Vel fringilla est ullamcorper eget. Tortor vitae purus faucibus ornare suspendisse sed. Nunc sed blandit libero volutpat sed cras ornare.

    p.payment-box__footnote
      | Нажимая кнопку "Перейти к оплате" вы соглашаетесь с <a href="">политикой конфиденциальности</a>

    .payment-box__buttons
      a.button.button--primary(href="") Перейти к оплате
      a.button.button--light(href="") Вернуться назад
