.top-banner.top-banner--with-footer(style="background-image: url(assets/img/bg/bg-top-banner.jpg);")
  .overlay.overlay--primary.overlay--grid
  .container
    .top-banner__inner
      .top-banner__content
        .top-banner__heading
          h1.top-banner__title.
            Buberu — онлайн-помощник
            <br>
            на рынке подержаных товаров
          p.top-banner__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt

        +form().top-banner__form
          +form-row()
            +inputbox()
              +input-wrapper
                +input()(
                  type="text"
                  name="filter-subject"
                  aria-label="Что требуется найти?"
                  placeholder="Что требуется найти?"
                )
            +inputbox()
              +input-wrapper
                +input()(
                  type="text"
                  name="filter-service"
                  aria-label="Тип услуги"
                  placeholder="Тип услуги"
                )
            +inputbox()
              +input-wrapper
                +input()(
                  type="text"
                  name="filter-area"
                  aria-label="Где искать?"
                  placeholder="Где искать?"
                )
            button.button.button--primary(type="submit") Продолжить
          p.form__desc Фильтр поможет сформировать задание

      .top-banner__footer
        .top-banner__table
          .top-banner__table-cell
            span.top-banner__table-value 1,533
            span.top-banner__table-unit Специалиста
          .top-banner__table-cell
            span.top-banner__table-value 1,512
            span.top-banner__table-unit Онлайн-запросов
          .top-banner__table-cell
            span.top-banner__table-value 8,546
            span.top-banner__table-unit Решенных задач

        a.top-banner__help(href="")
          +icon('question-circle-o')
          | Поддержка
