-
  var tabs = [
    {
      title: 'Аккаунт/ Безопасность',
      icon: 'user'
    },
    {
      title: 'Раздел клинтов',
      icon: 'case'
    },
    {
      title: 'Раздел специалистов',
      icon: 'tools'
    },
    {
      title: 'Общая информация',
      icon: 'file'
    },
  ];

  accordion = [
    'Чем полезен сервис Buberu?',
    'Как найти честного специалиста?',
    'Ценообразование ставки специлистов?',
    'Как стать специалистом на сервисе?'
  ];



.section.section--top.questions
  .container
    h1.page-title Привет! Чем мы можем помочь?

    +form().search-form.questions-form
      +inputbox()
        +input-wrapper
          +input()(
            type="text"
            name="s"
            aria-label="Задайте свой вопрос"
            placeholder="Задайте свой вопрос"
          )
        button.button.button--primary.search-form__submit(type="submit") Подробнее

    p.questions__note или выберите категорию вашего вопроса

    .questions-tabs
      +tabs().questions-tabs__nav
        each item, index in tabs
          +tab-item().questions-tabs__item
            +tab-button().questions-tab(
              class=(index === 0) ? "is-active" : ""
              data-tab-target="tab-" + (index + 1)
              )
              .questions-tab__icon
                +icon(item.icon)
              span.questions-tab__text= item.title

      +tabs-content().questions-tabs__content
        .container.container--narrow
          each item, index in tabs
            +tab-wrapper().questions-tabs__content-item(
              class=(index === 0) ? "is-active" : ""
              data-tab="tab-" + (index + 1)
              data-tab-group="questions"
              )
              .section__header.align-c
                h2.section__title= item.title
                p.section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              ul.accordion.accordion--general.questions-accordion.js-accordion
                each item, i in accordion
                  li.accordion__item
                    h5.accordion__title
                      button.accordion__button.js-accordion-button(
                        class=(i === 0) ? "is-active" : ""
                        data-target="#question-" + index + (i + 1)
                        aria-expanded=(i === 0) ? "true" : "false"
                        aria-controls="question-" + index + (i + 1)
                      )
                        span.accordion__button-count= '0' + (i + 1)
                        span.accordion__button-text= item
                        +icon('close-o').accordion__button-icon

                    .accordion__content.js-accordion-content(
                      class=(i === 0) ? "is-active" : ""
                      id="question-" + index + (i + 1)
                    )
                      .accordion__body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

