footer.site-footer
  include ../site-navline/site-navline-footer

  .site-footer__main
    .container
      +grid()
        +col({md: 3, sm: 6})
          h3.site-footer__title Для специалистов
          ul.site-footer__menu
            li
              a(href="") Создать аккаунт
            li
              a(href="") Каталог задач
            li
              a(href="") Требования
            li
              a(href="") Помощь
        +col({md: 3, sm: 6})
          h3.site-footer__title Для клиентов
          ul.site-footer__menu
            li
              a(href="") Создать аккаунт
            li
              a(href="") Создать запрос
            li
              a(href="") Требования
            li
              a(href="") Помощь
        +col({md: 3, sm: 6})
          h3.site-footer__title Сервис
          ul.site-footer__menu
            li
              a(href="") Как это работает?
            li
              a(href="") Правила сайта
            li
              a(href="") Требования
            li
              a(href="") Конфиденциальность
        +col({md: 3, sm: 6})
          a.site-footer__contact(href="mailto:support@buberu.ru")
            +icon('envelope-o')
            | support@buberu.ru
          +form().site-footer__form
            p.form__desc Новости и уведомления о новых возможностях нашего сервиса
            +form-row()
              +inputbox()
                +input-wrapper
                  +input()(
                    type="email"
                    name="subscribe-email"
                    aria-label="Укажите e-mail адрес"
                    placeholder="Укажите e-mail адрес"
                  )
              button.button.button-icon.button--primary(
                type="submit"
                aria-label="Отправить"
              )
                +icon('chevron-right-o')


  .site-footer__bottom
    .container
      .site-footer__bottom-inner
        p.site-footer__copyright © 2019 Buberu. All Rights Reserved.
        a.site-footer__dev(href="") Made by Crazy.studio
