footer.site-footer
  .site-navline.site-navline--footer
    .container
      .site-header__inner
        .site-navline-left
          .site-header__logo
            .logo
              a(href="")
                .logo__text Buberu

        .site-navline-right
          +social()
            +social-item('')
              +icon('facebook')
              +social-text('Facebook')
            +social-item('')
              +icon('vk')
              +social-text('Vkontakte')
            +social-item('')
              +icon('twitter')
              +social-text('Twitter')
            +social-item('')
              +icon('linkedin')
              +social-text('Linkedin')

          ul.site-header__roles
            li.site-header__roles-item
              a(href="") Клиентам
            li.site-header__roles-item
              a(href="") Специалистам

  .site-footer__main
    .container
      +grid()
        +col({md: 3, sm: 6})
          h3.site-footer__title Для специалистов
          ul.site-footer__menu
            li
              a(href="") Создать аккаунт
            li
              a(href="") Каталог задач
            li
              a(href="") Требования
            li
              a(href="") Помощь
      +grid()
        +col({md: 3, sm: 6})
          h3.site-footer__title Для клиентов
          ul.site-footer__menu
            li
              a(href="") Создать аккаунт
            li
              a(href="") Создать запрос
            li
              a(href="") Требования
            li
              a(href="") Помощь
      +grid()
        +col({md: 3, sm: 6})
          h3.site-footer__title Сервис
          ul.site-footer__menu
            li
              a(href="") Как это работает?
            li
              a(href="") Правила сайта
            li
              a(href="") Требования
            li
              a(href="") Конфиденциальность
      +grid()
        +col({md: 3, sm: 6})
          a.site-footer__contact(href="mailto:support@buberu.ru")
            +icon('envelope-o')
            | support@buberu.ru
          +form().site-footer__form
            p.form__desc Новости и уведомления о новых возможностях нашего сервиса
            +form-row()
              +inputbox()
                +input-wrapper
                  +input()(
                    type="email"
                    name="subscribe-email"
                    aria-label="Укажите e-mail адрес"
                    placeholder="Укажите e-mail адрес"
                  )
              button.button.button-icon.button--primary(
                type="submit"
                aria-label="Отправить"
              )
                +icon('chevron-right-o')


  .site-footer__bottom
    .container
      .flex.flex-wrap.flex-justify-between
        p.site-footer__copyright © 2019 Buberu. All Rights Reserved.
        a.site-footer__dev(href="") Made by Crazy.studio
