.section.task-wrapper
  .container
    .task-steps
      .task-steps__item
        .task-step-card
          .task-step-card__img
            img(src="assets/img/content/thumbs-up.png", alt="")
          .task-step-card__body
            .task-step-card__title
              | Создайте уникальное<br>
              | задание
            .task-step-card__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.

      .task-steps__item
        .task-step-card
          .task-step-card__img
            img(src="assets/img/content/pencil.png", alt="")
          .task-step-card__body
            .task-step-card__title
              | Пройдите быструю<br>
              | регистрацию
            .task-step-card__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.

      .task-steps__item
        .task-step-card
          .task-step-card__img
            img(src="assets/img/content/handshake.png", alt="")
          .task-step-card__body
            .task-step-card__title
              | Выберите<br>
              | исполнителя
            .task-step-card__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.

    .task
      .settings-form.settings-form--task
        .task-progress
          .task-progress__top
            .task-progress__text
              | Задача готова на <span class="task-progress__percentage">90</span>
            .task-progress__steps
              | 1/4
          .task-progress__bar
            .task-progress__bar-inner(style="width: 90%;")

        .settings-form__grid.settings-form__grid--task
          .settings-form__main-col
            .settings-box.settings-box--full-width
              h3.settings-title
                span.settings-title__step Шаг 1/4
                | Что нужно найти?

              .d-flex.d-flex--2-cols.flex-wrap.flex-justify-between
                +inputbox
                  +label.inputbox__label--required(for="name") Что нужно найти
                  +input-wrapper
                    +input(
                      type="text"
                      id="task-name"
                      name="task-name"
                      placeholder="Что нужно найти"
                    )

                +inputbox
                  +label.inputbox__label--required(for="model") Модель
                  +input-wrapper
                    +input(
                      type="text"
                      id="task-model"
                      name="task-model"
                      placeholder="Модель"
                    )
                +inputbox
                  +label.inputbox__label--required(for="memory") Объём памяти
                  +input-wrapper
                    +input(
                      type="text"
                      id="memory"
                      name="memory"
                      placeholder="Объём памяти"
                    )

                +inputbox
                  +label.inputbox__label--required(for="state") Состояние
                  +input-wrapper
                    +input(
                      type="text"
                      id="state"
                      name="state"
                      placeholder="Состояние"
                    )
                +inputbox
                  +label.inputbox__label--required(for="time") Время на выполнение
                  +input-wrapper
                    +input.input--date(
                      type="text"
                      id="time"
                      name="time"
                      placeholder="До какой даты?"
                    )

            .settings-box
              h3.settings-title
                span.settings-title__step Шаг 2/4
                | Способ поиска

              .search-methods
                .search-method
                  input.search-method__input.hidden-visually(type="radio" name="search-method" id="turnkey" value="turnkey" checked)
                  label.search-method__label(for="turnkey")
                    | Под ключ
                .search-method
                  input.search-method__input.hidden-visually(type="radio" name="search-method" id="one-time" value="one-time" checked)
                  label.search-method__label(for="one-time")
                    | Единоразовый подбор
                .search-method
                  input.search-method__input.hidden-visually(type="radio" name="search-method" id="consultation" value="consultation" checked)
                  label.search-method__label(for="consultation")
                    | Онлайн консультация

            .settings-box
              h3.settings-title
                span.settings-title__step Шаг 2/4
                | Способ поиска

            .settings-box
              h3.settings-title
                span.settings-title__step Шаг 3/4
                | Местоположение

              +inputbox
                +label(for="area") Укажите район поиска
                +input-wrapper
                  +input(
                    type="text"
                    id="area"
                    name="area"
                    placeholder="Район поиска"
                  )

              .settings-map(style="background: url(assets/img/content/small-map.png) no-repeat center center/cover")

            .settings-box
              h3.settings-title
                span.settings-title__step Шаг 4/4
                | Дополнение

              +inputbox
                +label.inputbox__label--required(for="comment") Оставьте комментарий к заказу
                +input-wrapper
                  +textarea(
                    type="text"
                    id="comment"
                    name="comment"
                    placeholder="Комментарий"
                  )

          .settings-form__aside-col
            .ibox.ibox--md
              .ibox-header
                .ibox-header__title
                  span.ibox-header__title-text Ваша задача

              .ibox-body
                ul.features-list
                  li.features-list__item
                    | <span class="features-list__feature">Цвет:</span> Space Gray
                  li.features-list__item
                    | <span class="features-list__feature">Память:</span> 512 GB
                  li.features-list__item
                    | <span class="features-list__feature">Состояние:</span> Хорошее
                  li.features-list__item
                    | <span class="features-list__feature">Дедлайн:</span> 18.08.2020
                  li.features-list__item
                    | <span class="features-list__feature">Способ поиска:</span> Под ключ
                  li.features-list__item
                    | <span class="features-list__feature">Местоположение:</span> Рязанский проспект

            .task__footnote
              | <span class="text-primary">На сайте 237</span> потенциальных специалистов, готовых вам помочь

        p
          +checkradio(false, 'login-acceptance', 'null', true)
            | Принимаю <a class="text-primary" href="">публичную оферту</a>, <a class="text-primary" href="">условия пользования</a>

        button.button.button--primary(type="submit") Создать задание
